* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: both;
  align-items: center;
}

h1 {
  padding-right: 20px;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

.logo {
  height: 50px;
  width: 50px;
  padding-right: 20px;
}

.button {
  background-color: #1db954;
  border: none;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
}
